html, body {
    height: 100%;
}

body {
    font-family: Helvetica,serif;
    font-size: 16px;
    background-color: #f6f5f7;
    margin: 0;
    overflow-y: scroll;
    min-width: 500px;
}

.body-container {
    height: 100%;
    background-color: white;
    padding: 10px;
    padding-bottom: 200px;
}

.main-container {
    min-height: 100%;
    position: relative;
}

h1 {
    color: #444;
}


/*footer*/
body footer {
    width: 100%;
    padding-bottom: 5px;
    background-color: #FFF;
    border-top: 1px solid #CCC;
    margin-top: 50px;
    position: absolute;
    bottom: 0;
    height: 90px;
}
.footer-container {
    display: block;
    text-align: center;
}

.footer-container-author {
    display: inline-block;
    width: 49%;
}
.footer-container-github {
    display: inline-block;
    width: 49%;
}


.centered {
    margin: 0 auto;
    max-width: 70%;
}

a {
    color: #a37229;
    text-decoration: none;
}

/*header*/
.header-container {
    background-color: #48474D;
    width: 100%;
    /*border-bottom: 1px solid black;*/
}

header {
    height: 85px;
    display: table;
    width: 40%;
    margin:0 auto;
}
header ul {
    display: table-row;
    text-align: center;
    padding: 0;
    margin: 0;
}
header ul li {
    display: table-cell;
    vertical-align: middle;
    transition: all .2s ease-out;
}

header ul li:hover {
    background-color: #F64046;
}
header ul li:hover a {
    color: #DDD;
}

header ul li a {
    color: #999;
}

header ul li.active {
    background-color: #F64046;
}
header ul li.active a {
    color: #DDD;
}


/*list*/
.cert-container ul {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}
.cert-container ul li {
    /*position: relative;*/
    /*display: block;*/
    padding: .4em .4em .4em 1em;
    margin: .5em 0;
    background: #ddd;
    color: #444;
    border-radius: .3em;
    transition: all .3s ease-out;
}

.cert-container ul li:hover {
    background: #eee;
}

