html, body {
    height: 100%;
}

body {
    font-family: Monaco, Menlo, 'Ubuntu Mono', 'Droid Sans Mono', Consolas, monospace;
    font-size: 16px;
    background-color: #f6f5f7;
    margin: 0;
    overflow-y: scroll;
    min-width: 500px;
}


header {
    height: 85px;
    display: table;
    width: 40%;
    margin:0 auto;
}
header ul {
    display: table-row;
    text-align: center;
    padding: 0;
    margin: 0;
}
header ul li {
    display: table-cell;
    vertical-align: middle;
    transition: all .2s ease-out;
}

header ul li:hover {
    background-color: #F64046;
}
header ul li:hover a {
    color: #DDD;
}

header ul li a {
    color: #999;
}

header ul li.active {
    background-color: #F64046;
}
header ul li.active a {
    color: #DDD;
}

.row {
    width: 100%;
    margin: 0 auto;
}
.block {
   display: inline-block;
}

.jqconsole-prompt {
    color: #f65a5b;
}

.jqconsole-cursor {
    -webkit-animation-name: blinker;
    -moz-animation-name: blinker;
    -ms-animation-name: blinker;
    -o-animation-name: blinker;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(1, 0, 0, 1);
    -ms-animation-timing-function: cubic-bezier(1, 0, 0, 1);
    -o-animation-timing-function: cubic-bezier(1, 0, 0, 1);
    -moz-animation-timing-function: cubic-bezier(1, 0, 0, 1);
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    -ms-animation-duration: 1s;
    background: #f65a5b;
}

@-moz-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}



